.text-grey{
    color: grey;
}


#backGround{
    height: 100vh;
}

#upper-row{
    height: 15%;
    background-color: rgba(0,150,136,255);
}

#down-row{
    height: 85%;
    background-color: rgba(217,219,212,255);
}

#app{
    height: 95vh;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
}

.user-bar, .contact-bar{
    height: 70px;
    background-color: rgba(234,234,234,255);
}

.user{
    align-items: center;
}

.avatar-container{
    width: 15%;
}
.avatar-container img{
    border-radius: 50%;
}

.color-text-grey{
    color: rgba(177,177,178,255);
}

.alert-bar{
    background-color: rgba(142,218,252,255);
}

.alert-icon{
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
}

.alert-icon-text{
    color: rgba(142,218,252,255);
    line-height: 40px;
}

#search-bar{
    background-color: rgba(234,234,234,255);
}

#search-bar button{
    width: 25%;
    border-radius: 0;
    padding: 0;
    border: 1px solid rgb(196, 196, 196);
    background-color: white;
}

#search-bar input{
    width: 75%;
    padding: 0;
    border: 1px solid rgb(196, 196, 196);
    background-color: white;
}

.contact-element{
    height: 80px;
    border-top: 1px solid rgba(234,234,234,255);
}

li .avatar-container{
    width: 15%;
}

.last-message{
    font-weight: normal;
}

.last-message-container{
    overflow: hidden;
    width: 80%;
}

.contact-container{
    width: 13%;
}

.contact-container img{
    border-radius: 50%;
}

#chat{
    background-image: url("./img/mine.jpg");
    height: calc(100% - 140px);
    padding: 10px 30px 10px 30px;
    overflow: scroll;
}

#chat-bar{
    height: 70px;
    background-color: rgba(234,234,234,255)
}

.happy-face-container, .microphone-container{
    height: 70px;
    line-height: 70px;
}

.messageSent{
    padding: 10px;
    background-color: rgba(213,249,186,255);
    text-align: end;
}

.messageReceived{
    padding: 10px;
    background-color: white;
    text-align: start;
}

ul{
    list-style: none;
}
